<div class="question-summary d-flex">
  <div class="statsContainer clr-lightGray mr-4">
    <div class="votes mb-2">
      <span class="d-block text-center counter-font">0</span>
      <span class="d-block text-center mat-small">votes</span>
    </div>

    <div class="answers mb-2">
      <span class="d-block text-center counter-font">0</span>
      <span class="d-block text-center mat-small">answers</span>
    </div>
    <div class="mat-small text-center">3 views</div>
  </div>

  <div class="summary">
    <h3 class="mb-1">
      <a href="#" class="text-decoration-none">Question title here</a>
    </h3>
    <p class="my-0 ellipsis">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum illum
      eaque perspiciatis excepturi possimus voluptatem dignissimos molestiae
      quasi. Odio deserunt illum quasi praesentium assumenda eaque totam beatae
      cumque error nemo.
    </p>

    <div
      class="user-ng-tag d-flex justify-content-between align-items-center mt-2"
    >
      <div class="tags">
        <button class="btn btn-login btn-tag px-2 mx-1">javascript</button>
        <button class="btn btn-login btn-tag px-2 mx-1">flutter</button>
        <button class="btn btn-login btn-tag px-2 mx-1">html</button>
      </div>
      <div class="user">
        <img src="https://picsum.photos/40/40" alt="" class="rounded" />
      </div>
    </div>
  </div>
</div>
