<div class="question-summary d-flex my-2">
  <div class="statsContainer clr-lightGray col-1 mr-4">
    <div class="votes mb-2">
      <span class="d-block text-center counter-font">{{ votes }}</span>
      <span class="d-block text-center mat-small">votes</span>
    </div>

    <div class="answers mb-2">
      <span class="d-block text-center counter-font">{{ totalAnswers }}</span>
      <span class="d-block text-center mat-small">answers</span>
    </div>
    <div class="mat-small text-center">{{ views }} views</div>
  </div>

  <div class="summary col-11">
    <h3 class="mb-1">
      <a href="#" class="text-decoration-none">{{ title }}</a>
    </h3>
    <p class="my-0 ellipsis">
      {{ text }}
    </p>

    <div
      class="user-ng-tag d-flex justify-content-between align-items-center mt-2"
    >
      <div class="tags">
        <button
          class="btn btn-login btn-tag px-2 mx-1"
          *ngFor="let tag of tags"
        >
          {{ tag }}
        </button>
      </div>
      <div class="user">
        <img src="https://picsum.photos/40/40" alt="" class="rounded" />
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
